<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Fill Out the form to contact us</h1>
  </header>
  <main>
    <form action="/contact-us" method="POST">
      <input type="text" placeholder="Enter Your name" name="username">
      <input type="text" placeholder="Enter Your Email" name="email">
      <input type="submit">
    </form>
  </main>
</body>
</html>